*{
    margin: 0;
    padding:0;
}
body{
    background-color: red;
    overflow: hidden;
}
.rulesContainer {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: none; /* Hide by default */
}

.gameStarted .rulesContainer {
    display: none; /* Hide once the game starts */
}
.gameContainer{
    background-image: url(parkBG.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}

.child{
    background-image: url(Childimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 131px;
    height: 245px;
    position: absolute;
    bottom:0;
    left: 52px;
}

.obstacle{
    width: 129px;
    height: 100px;
    background-image: url(Porcupine.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 44vw;
}

.animateChild{
    animation: child 0.6s linear;
}

.obstacleAni{
    animation: obstacleAni 5s linear infinite;
}


.gameOver{
    position: relative;
    top: 16%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset by 50% to center */
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    color: white; /* Text color */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    text-align: center;
    border: 2px solid white; /* White border */
    font-size: 24px; /* Text size */
    font-family: 'Ubuntu', sans-serif; /* Custom font */
}

/* .gameOver{
    position: relative;
    top:63px;
    font-size: 53px;
    text-align: center; 
    font-family: 'Ubuntu', sans-serif;
} */

#scoreCont{
    font-size: 25px;
    color: #54212f;
    font-weight: bold;
    position: absolute;
    right: 45px;
    top: 20px;
    border: 2px solid black;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
}

@keyframes child{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 422px;
    }
    100%{
        bottom: 0; 
    }
}

@keyframes obstacleAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}